:root {
  --font-mono: ui-monospace, Menlo, Monaco, 'Cascadia Mono', 'Segoe UI Mono',
    'Roboto Mono', 'Oxygen Mono', 'Ubuntu Monospace', 'Source Code Pro',
    'Fira Mono', 'Droid Sans Mono', 'Courier New', monospace;

  --brandPrimary: #002b63;
  --white: white;
  --gray50: #f9fafb;
  --gray100: #f3f4f6;
  --gray200: #e5e7eb;
  --gray300: #d1d5db;
  --gray400: #9ca3af;
  --gray500: #6b7280;
  --gray600: #4b5563;
  --gray700: #374151;
  --gray800: #1f2937;
  --gray900: #111827;

  --menuTextColor: var(--white);
  --menuTextHoveringColor: var(--gray400);
  --menuBackgounColor: transparent;
  --menuBackgoundHoveringColor: transparent;

  --backgoundColor: var(--gray100);
}

@media (prefers-color-scheme: dark) {
  :root {
    --menuTextColor: var(--white);
    --backgoundColor: inherit;
  }
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
