.component {
  display: flex;
  gap: 10px;
  align-items: center;
  .menu {
    cursor: pointer;
    width: 20px;

    color: var(--menuTextColor);
    background-color: var(--menuBackgounColor);
    &:hover {
      color: var(--menuTextHoveringColor);
      background-color: var(--menuBackgoundHoveringColor);
    }
    svg {
      height: 20px;
    }
  }
}
